.ripple-button, .ripple-calander {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
i{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ripple {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.6);
  transform: scale(0);
  animation: ripple-animation 0.3s linear;
  filter: blur(5px);

}
.calander-ripple{
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  transform: scale(0);
  animation: ripple-animation 0.4s linear;
  filter: blur(20px);
}
@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}